@use 'sass:math';
/*Подключение шрифтов /=============================================================================*/
/* @import 'fonts.scss'; */
/*=============================================================================================================*/
/*Размер шрифта по умолчанию /=============================================================================*/
$mainFontSize: 14;
/*=============================================================================================================*/
/*Контейнер и сетка /=============================================================================*/
$mw:1170;
$minwidth:rem(320);
$md1:($mw+12)px;
/*Подключение функций, миксинов /=============================================================================*/
@import 'functions';
/*=============================================================================================================*/
$md2:rem(992.98);
$md3:rem(767.98);
$md4:rem(479.98);
[class*="__container"] {
    max-width: rem($mw);
    margin: 0 auto;
    padding: 0 rem(10);
    width: 100%;
}
/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */
/*=============================================================================================================*/
/*Иконочный шрифт /=============================================================================*/
/* @import 'icons'; */
/*=============================================================================================================*/
/*Обнуление /=============================================================================*/
@import 'null';
/*=============================================================================================================*/
/*Переменные для адаптивного свойства /=============================================================================*/
$maxWidth: 1920; //макс ширина
$maxWidthContainer: 1600; //ширина макета 
/*=============================================================================================================*/
/*Основные цвета /=============================================================================*/
:root{
    --yellow: gold;
}
/*=============================================================================================================*/
/*Основные стили /=============================================================================*/
body{
    font-size: rem($mainFontSize);
    color: #fff;
    background-color: #221c06;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    &.lock{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
    padding-top: rem(110);
}
/*=============================================================================================================*/
/*Общие блоки /=============================================================================*/
.title{
    font-weight: 700;
    @include adaptiv-value('font-size', 50, 25, 1);

}
.button{
    background-color: var(--yellow);
    color: #000;
    border-radius: rem(4);
    font-weight: 600;
    @media (any-hover: hover) {
        transition: background-color 0.3s ease 0s;
        &:hover {
            background-color: rgb(220, 187, 2);
        }
    }
    text-align: center;
    @media (min-width: $md3){
        display: inline-block;
    }
    display: block;
    padding: rem(15) rem(22);
}
/*=============================================================================================================*/
@import "header";
/*=============================================================================================================*/
.welcome {
    @include adaptiv-value('margin-bottom', 80, 40, 1);
    &__container {
    }

    &__content {
        @include adaptiv-value('margin-bottom', 40, 25, 1);
    }

    &__title {
        margin-bottom: em(40, 40);
    }

    &__text {
        line-height: 140%;
        p{
            &:not(:last-child) {
                margin-bottom: em(15, 14);
            }
        }
    }

    &__image {
        width: 100%;
        position: relative;
        padding-bottom: perc(500, 1000);
        img{
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.title {
}

/*=============================================================================================================*/
.products {
    @include adaptiv-value('margin-bottom', 80, 40, 1);
    &__title {
        margin-bottom: em(40, 40);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
        gap: rem(20);
    }

    &__item {
        border: 1px solid rgba(255, 217, 0, 0.384);
        padding: rem(10);
        background-color: #32323295;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: rem(4);
    }

    &__image {
        position: relative;
        padding-bottom: 80%;
        margin-bottom: rem(15);
        img{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name{
        font-size: rem(18);
        font-weight: 700;
        margin-bottom: em(15, 18);

    }
    &__label {
        font-size: rem(12);
        border: 1px solid #9b9b9bc0;
        padding: rem(5);
        border-radius: rem(3);
    }
    
    &__labels {
        display: flex;
        flex-wrap: wrap;
        gap: rem(10);
        flex: 1 1 auto;
        margin-bottom: rem(20 );
    }

    &__button {
    }
}

/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
//footer
@import "footer";